
build-Sample-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.qmake.stash
build-Sample-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/demo.o
build-Sample-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/main.o
build-Sample-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_demo.cpp
build-Sample-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_demo.o
build-Sample-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-Sample-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/debug/Sample.exe
build-Sample-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile
build-Sample-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile.Debug
build-Sample-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Makefile.Release
build-Sample-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/ui_demo.h
